body {
  margin-left: 10%; margin-right: 10%;
  color: black;
  background: white;
  background-color: #9DC8DD;
}

.button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  height: 50px;
  width: 150px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.dummyanswerbutton {width: 250px;} /* Blue */
.setnewquizbutton {width: 250px;} /* Blue */
.startbutton {background-color: #4CAF50;} /* Green */
.finishbutton {background-color: #f44336;} /* Red */


