<html>
    <head>
      {% if title %}
      <title>{{ title }} - Quiz</title>
      {% else %}
      <title>Welcome to quiz</title>
      {% endif %}
       <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div>Quiz:
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Registration</a> </div>
            {% else %}
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>