{% extends "base.html" %}

{% block content %}
    <h1>Dummy answer:</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.dummyanswer_id_question.label }}<br>
            {{ form.dummyanswer_id_question() }}
        <ul>
            {% for error in form.dummyanswer_id_question.errors %}
            <li> style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
        </p>
        <p>
            {{ form.dummy_answer_text.label }}<br>
            {{ form.dummy_answer_text(size=100)}}<br>
            {% for error in form.dummy_answer_text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.serial_number.label }}<br>
            {{ form.serial_number(size=100)}}<br>
            {% for error in form.serial_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}