{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div align="center">
    <br>
    <form method="post" action=""  novalidate>
            <div class="form-check">
            <label>Chooce category for new quiz:</label><br><br>
            <table>
                    {% if categories %}
                        {% for category in categories %}
                            <tr>
                                <td>
                                    <label>{{ category.name}}: </label>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" name="selected_categories" value={{category.id_category}} />
                               </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td>Not check boxes</td>>
                    </tr>
                    {% endif %}
            </table>
        </div>
        <br><br>
        <div class="form-group">
            <label for="maxnumquestion">Chooce max number of question per category:</label>
            <input type="text" name="maxnumquestion" id="maxnumquestion" size="5"><br>
        </div>
        <br><button type="submit" class="btn btn-primary">Set new quiz</button>
    </form>
</div>
{% endblock %}

