{% extends "base.html" %}

{% block content %}
    <h1>Set new quiz:</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <label>Chooce category for new quiz:</label><br><br>
        <table>
                {% if categories %}
                {% for category in categories %}
                    <tr>
                        <td>
                            {{ category.name}}
                        </td>
                        <td>
                            <input type="checkbox" name="selected_categories" value={{category.id_category}} />
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>Not check boxes</td>>
                </tr>
                {% endif %}
        </table>
        <br><br>
        <label>Chooce max number of question per category: </label><input type="text" name="maxnumquestion" size="5"><br>
        <br><button type="submit">Set new quiz</button>
    </form>
{% endblock %}

