{% extends "layout.html" %}

{% block body %}
  <h1>Question</h1>
  <a class="btn btn-success" href="/question_add">Add question</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID question</th>
      <th>ID category</th>
      <th>Question text</th>
      <th>Num question in game</th>
      <th></th>
      <th></th>
    </tr>
    {% for question in questions %}
      <tr>
        <td>{{question[0]}}</td>
        <td>{{question[1]}}</td>
        <td>{{question[2]}}</td>
        <td>{{question[3]}}</td>
        <td><a href="question_edit/{{question[0]}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('quiz.question_delete', qd_id=question[0])}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
