{% extends "base.html" %}

{% block content %}
    <h1>Registracija</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table class="test_table">
            <tr class="test_table">
                <td>
                    {{ form.first_name.label }}<br>
                    {{ form.first_name }}<br>
                    {% for error in form.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td >
                <td>
                    {{ form.last_name.label }}<br>
                    {{ form.last_name }}<br>
                    {% for error in form.last_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.visitor_type_id_type_visitor.label }}<br>
                    {{ form.visitor_type_id_type_visitor }}<br>
                    {% for error in form.visitor_type_id_type_visitor.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.adresa_ptt.label }}<br>
                    {{ form.adresa_ptt }}<br>
                    {% for error in form.adresa_ptt.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
                <td>
                    {{ form.adresa_mesto.label }}<br>
                    {{ form.adresa_mesto }}<br>
                    {% for error in form.adresa_mesto.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
                <td>
                    {{ form.adresa_ulica_broj.label }}<br>
                    {{ form.adresa_ulica_broj }}<br>
                    {% for error in form.adresa_ulica_broj.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.email.label }}<br>
                    {{ form.email }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.username.label }}<br>
                    {{ form.username }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.password.label }}<br>
                    {{ form.password }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
                <td>
                    {{ form.password2.label }}<br>
                    {{ form.password2 }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}